.active{
    color: red;
    background-color: gold;
    width: 100px;
    height: 75px;
}

.navigation-button{
    color: white;
    text-decoration: none;
    width: 100px;
    height: 75px;
    padding: 20px;
    margin-right: 20px;
    background-color: green;
}

.content{
    margin-top: 100px;
}